#select-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card-area {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 70%;
    height: 800px;
    margin: 20px 0;
    border-radius: 50px;
    border: 1px solid #c7b8b8;
    padding: 25px;
    box-shadow: 20px 19px 38px rgba(0,0,0,0.30), 11px 20px 12px rgba(0,0,0,0.22);
}

.fa-tag {
    margin: 0 10px;
}

.card-top {
    display: flex;
}

.header-area {
    width: calc(100% - 268px);
    padding: 0 0 0 50px;
}

.header-area h2 {
    font-size: 36px;
    color: #646464;
}

.header-area p {
    color: #979797;
    font-size: 24px;
}

.img-area {
    width: 268px;
    height: 268px;
}

.img-area img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-bottom {
    padding: 0 0 0 30px;
}

.card-bottom h2 {
    font-size: 19px;
    color: #646464;
}

.card-bottom p, pre {
    font-size: 18px;
    color: #979797;
}

.art {
    margin: 100px auto;
    display: flex;
}

.sr-only {
    margin: auto;
}

.spinner-border {
    width: 200px;
    height: 200px;
    margin: 100px auto;
}

#selectProduct {
    outline: none;
}